.primary {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.primary:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.primary:active {
	position:relative;
	top:1px;
}

.delete {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.delete:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.delete:active {
	position:relative;
	top:1px;
}

.cancel {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.cancel:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.cancel:active {
	position:relative;
	top:1px;
}

table.table-striped {
  border: 1px solid #1C6EA4;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.table-striped td, table.table-striped th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.table-striped tbody td {
  font-size: 13px;
}
table.table-striped tr:nth-child(even) {
  background: #D0F4F5;
}
table.table-striped th {
  background: #2DABF9;
  background: -moz-linear-gradient(top, #61c0fa 0%, #42b3f9 66%, #2DABF9 100%);
  background: -webkit-linear-gradient(top, #61c0fa 0%, #42b3f9 66%, #2DABF9 100%);
  background: linear-gradient(to bottom, #61c0fa 0%, #42b3f9 66%, #2DABF9 100%);
  border-bottom: 0px solid #0B0E07;
}
table.table-striped th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 0px solid #0688FA;
}
table.table-striped th:first-child {
  border-left: none;
}

table.table-striped tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #2DABF9;
  background: -moz-linear-gradient(top, #61c0fa 0%, #42b3f9 66%, #2DABF9 100%);
  background: -webkit-linear-gradient(top, #61c0fa 0%, #42b3f9 66%, #2DABF9 100%);
  background: linear-gradient(to bottom, #61c0fa 0%, #42b3f9 66%, #2DABF9 100%);
  border-top: 2px solid #444444;
}
table.table-striped tfoot td {
  font-size: 14px;
}
table.table-striped tfoot .links {
  text-align: right;
}
table.table-striped tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
