<div class="bColor">
<nav class="navBar">
  <a class="button"
     routerLink="/home-page"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Home
  </a>
  <a class="button"
     routerLink="/company-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Companies List
  </a>
  <a class="button"
     routerLink="/invoice-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Invoices List
  </a>
</nav>
<router-outlet></router-outlet>
</div>
